{% extends "base.html" %}
{% block start %}
    <h1 class='text-center mt-5 mb-5'>this is home</h1>

   

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsum laudantium quos expedita amet excepturi, dolor alias ad suscipit aperiam quo et inventore explicabo, dicta natus voluptatum! Voluptates, ab culpa!
    Aspernatur, nobis pariatur excepturi repudiandae inventore nemo saepe ad amet quaerat molestias eum reprehenderit aliquid velit nihil animi facere mollitia ut doloribus omnis in repellendus eos est. Doloremque, nostrum veniam?
    Atque, repellat perferendis eius laborum amet omnis adipisci, inventore corrupti iusto sed quasi, expedita quas eligendi nisi vel maiores quod quia. Laboriosam necessitatibus praesentium voluptatem, nam in illum quam modi.
    Voluptates culpa laboriosam accusamus nostrum, aperiam quasi nobis exercitationem officia numquam perferendis sed vitae nulla, rem fugit atque officiis praesentium esse dolores facere aliquid! Placeat beatae inventore voluptatem praesentium possimus?
    </p>
{% endblock %}

